<div class="content-heading"> Edit Tags
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/tags/all']"> Tags </a>->
    Update Tag
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Update</strong> Tag</div>
      <div class="panel-body">
        <form (ngSubmit)="onSubmitTag(f)" #f="ngForm">
          <div class="row coustom-row">
            <div class="col-md-2">
              <label>Tag Name*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="text" placeholder="Enter Tag Name" name="tag" id="tag"
                     [(ngModel)]="tagDetails.tagName" required="true"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10">
              <div class="col-md-2"></div>
              <div class="col-md-9">
                <button class="btn btn-info coustom-save-btn" type="submit"
                        [ladda]="isLoading" data-style="expand-right" data-spinner-color="#000000"
                        [disabled]="!f.valid">Update
                </button>
              </div>
              <div class="col-md-1">
                <button class="btn btn-danger pull-right s-n-btn" (click)="cancel()">Cancel</button>
              </div>
            </div>


          </div>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
