.profile-card {
    padding: 10px 20px;
    /* border: 1px solid darkgray; */
    /* border-radius: 8px; */
    width: 100%;
    height: 60%;
     background-color:#f1b517; 
}

.qr-image {
    border: 2px outset #060709 ;

}

svg {
    margin-top: -5px;
}

.header{
    text-align: center;
    background-color:#060709;
    color:#f1b517;
    padding: 10px;
}

h5{
    text-align: center;
    background-color:#060709;
    color:#f1b517;
    padding: 10px;
}

.cell-breakWord {
    word-wrap: break-word;
  }
