<ion-header hideBackButton="true"  >
  <ion-navbar hideBackButton="true">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title></ion-title>
      <img class="logo" style="height: 38px;margin-top: 8px;padding: -25px;" src="assets/img/logo4.png">
      <ion-title>Creorts Sportival</ion-title>
  </ion-navbar>

</ion-header>


   <ion-content class="eventclass">  
     <div class="layer">

     
      <p class="mainheading" >Gallery </p>

      <ion-row class="categories">
        <ion-col col-6 *ngFor="let images of maingallarypage">
            <img style="height: 70%;width: 196px;" src={{images.URL}}>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="margin-top: -14px;margin-left: -1px;">
              <path fill="#f1b517" fill-opacity="1"
              d="M0,224L60,197.3C120,171,240,117,360,112C480,107,600,149,720,186.7C840,224,960,256,1080,250.7C1200,245,1320,203,1380,181.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
              </path>
              </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="margin-top: -37px;border:none;margin-bottom: 7px;"><path fill="#F1B517" fill-opacity="1" d="M0,224L60,197.3C120,171,240,117,360,112C480,107,600,149,720,186.7C840,224,960,256,1080,250.7C1200,245,1320,203,1380,181.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
            <p class="text-over-img" style="margin-left: 22px;font-weight: 800;margin-top: -29px;color: black;font-size: 12px;margin-bottom: 35px;">{{images.title}}</p>
        </ion-col>
    </ion-row>


    <!-- <ion-row class="paddingrow"   >
      <ion-col col-12>
             
          <button style="margin-bottom: 21px;border: 2px solid #F1B517;color: #F1B517;" color="primary" class="login-btn" ion-button  (click)="LoadMore()" >Load More</button>
        
      </ion-col>
  </ion-row> -->

  <ion-row style="margin-bottom: 24px;" *ngIf="displauLoadMore">
    <ion-col col-12>
      <button class="login-btn" (click)="LoadMore()" style="border: 2px solid #F1B517;background: black;" ion-button type="submit"
       > Load More</button>
    </ion-col>
  </ion-row>


     </div> 
    
   
</ion-content>
