<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-9">
			<mdb-carousel class="carousel slide" [animation]="'slide'">
				<mdb-carousel-item *ngFor="let image of carsoels">
					<div class="view w-100">
						<div class="img-overlay-wrap">
			
						<img class="d-block w-100" src="{{image.URL}}" alt="{{image.title}}" height="300">
						<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
							<path fill="#F1B517" fill-opacity="1"
								d="M0,224L60,197.3C120,171,240,117,360,112C480,107,600,149,720,186.7C840,224,960,256,1080,250.7C1200,245,1320,203,1380,181.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
							</path>
						</svg> -->
						<!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect></div> -->
						</div>
					</div>
				</mdb-carousel-item>
			</mdb-carousel>
		</div>
	</div>
</div>


<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-9">
            <div class="wave">

                    <div class="text-center">
                        <h5 style="color: black;">About Us</h5>
                    </div>
					<p style="text-align:justify; font-weight: 400;">CREORTS - The International Sports Festival of Kerala aims to build sports culture in the city of Kochi. Residents of Kochi can witness glory of sportsmanship and the fighting spirit among its citizens.
					</p><p style="text-align:justify; font-weight: 400;">The main objective is to curb growing drug abuse in our youth. This is a campaign to build awareness among our youth against drug addiction. We target to use sports for drug abuse prevention. We want to encourage our youth by providing a platform to showcase their amazing talents in sports, entertainment and wellness. Our youth will be motivated by witnessing amazing talents among their peers to take up wellness and sports goals thereby pulling them out of drug addiction. 
					</p><p style="text-align:justify; font-weight: 400;">Experience wonderful talent and have loads of fun at Creorts.</p>
                </div>
           
        </div>
	</div>
</div>

<!-- <div class="row">
	<div class="col">
		<div class="sponsor">
			<h5 class="text-center">Our Sponsors</h5>
			<multi-item-carousel></multi-item-carousel>
		</div>
	</div>
</div> -->