<ion-header hideBackButton="true"  >
  <ion-navbar >
      <!-- <button ion-button >
          <ion-icon name="menu"></ion-icon>
      </button> -->
      <img class="logo"  style="height: 30px;margin-top: 6px;padding: -25px;" src="assets/img/creorts_logo.jpg">
      <ion-title>Creorts Sportival</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="eventclass">
 
   

  <div class="layer">

    <p style="text-align: center;font-size: 25px;font-weight: 700;">{{CatTilte}}</p>
  <div id="myDIV" class="maindiv">
    <button class="btn" *ngFor="let Category of eventdates; let index = index "  [ngClass]="{'active': selectedItem == Category}"  (click)="listClick($event, Category)">
     
        <span>{{Category.EventDate |date:'LLL'}}</span><br>
        <span>{{Category.EventDate |date:'dd'}}</span><br>
        <span>{{Category.EventDate |date:'yyyy'}}</span>  
    </button>
    
  </div>

 
  <ion-card  *ngFor="let event of Eventdata" class="cardclass" (click)="wishlist(event)">
     
    <ion-list class="eventlistclass">
      <ion-row style="margin-bottom: 8px;text-align: -webkit-center;">
        <ion-col col=6>
          <ion-row style="margin-bottom: 8px;text-align: -webkit-center;border-bottom: 1px solid #ccc;">
            <ion-col col=6>
                <p style="font-weight: 600;font-size: 16px;color: #e13838;"> <ion-icon name="calendar" style="margin-right: 7px;"></ion-icon>{{event.EventDate | date:'mediumDate'}}</p>
            </ion-col>
            <ion-col col=7>
              <p style="font-size:12px;"><span style="color: orangered;">Start time</span> - <span style="font-weight: 700;">{{event.startTime}}</span> <span style="color: orangered;">End Time</span> -  <span style="font-weight: 700;">{{event.endTime}}</span></p>
            </ion-col>
            <span style="margin-left: 20px;"><ion-icon *ngIf="!event.inwishlist" style="color: #c8c7cc" name="heart"></ion-icon>
              <ion-icon name="heart"  *ngIf="event.inwishlist" style="color: red;"></ion-icon>
            </span>
          </ion-row>
           
        </ion-col>
        
      </ion-row>
        <p class="eventheading">{{event.title}}</p>
        <pre text-wrap style="color: black;font-family: inherit;font-size: 14px;">{{event.description}}</pre>
       
       
    </ion-list>
   
</ion-card>




 </div>
</ion-content>
