
  <ion-navbar>
    <button *ngIf="header_data.ismenu" ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  [ngClass]="{'ishome-title': header_data.ishome,'ismeun-centre': !header_data.ishome}">
        {{header_data.title}} </ion-title>
      
      <ion-buttons end>
      <button (click)="gotoCart()" *ngIf="header_data.isCart" ion-button icon-only 
           class="header-btn">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
      </button>
    </ion-buttons>

  </ion-navbar>

