.coustom-row {
  margin-top: 5px;
}
.s-n-btn {
  margin-right: -140px;
  margin-top: 5px;
}
.coustom-save-btn {
  margin-top: 5px;
  margin-left: 460px;
}

.alltest{
  border-width: 1px;
  border-style: groove;
  margin-left: -52px;
  height: 120px;
  overflow-x: auto;
  overflow-y: auto;
}

.allselecttest{
  border-width: 1px;
  border-style: groove;
  margin-left: 14px;
  height: 120px;
  overflow-x: auto;
  overflow-y: auto;
}

.selectcomp{

  border-width:1px;  
  border-bottom-style:groove;
  width: 113%;
  margin-left: -7px;
}

.selectcomp:hover{
  background: #0077cc;
  color: aliceblue;
  cursor: pointer;
}
.rightarrow{
  color: #0077cc;
  font-size: 40px;
  cursor: pointer;
  margin-left: 17px;
  margin-right: auto;
}

.leftarrow{
  color: #0077cc;
  font-size: 40px;
  cursor: pointer;
  margin-left: 17px;
  margin-right: auto; 
}

.centered {
  position: absolute;
  left: 50%;
  color: green;
  margin-left: 41%;
  margin-top: -12px;
  transform: translate(-50%, -50%);
}

/* custon file upload */
input[type="file"] {
  display: block;
  color: transparent;
  width: 100%;
    height: 30px;
    opacity: 0;
    cursor:pointer;
    position:absolute;
    left:0;
}
.img-thumbnail {
  border:0 !important;
  padding:0;
  border-radius:0;
  }
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  -webkit-appearance: none;
}
::-ms-browse  {
  display:none;
}
.choose-btn{
  padding:5px 15px;
  margin: 0px;
}
.s-n-btn{
  margin-left: 1.3em;
}




