.thnosearch {
   // width: 20% !important;
    padding-bottom: 48px !important;
  }

  .selected-list.c-list.c-token {
    list-style: none;
    margin-bottom: 6px !important;
    padding: 0px 5px;
    background: #0079FE;
    color: #fff;
    border-radius: 2px;
    margin-right: 4px;
    float: left;
}