/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';

.element {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }
body{
    font-family: Roboto, sans-serif;
    font-weight: 350;
    min-height: 100vh;
    position: relative;
    padding-top: 57px;
    padding-bottom: 25px;
    }

h1, h2, h3, h4, h5, h6 {
    color: #f1b517;
    font-weight: 450;
}

#background-image {
    background-image: url("assets/images/bg-image.jpg");
    width: 100%;
    top: 0;
    left: 0;
    height:100%; 
    opacity: 0.6;
    position: fixed;
    background-repeat:repeat-y;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    z-index:0;
    opacity: 0.6;
  }

  .app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
    background-image: url("assets/images/bg-image.jpg");
    /* width: 100%; */
    /* top: 0;
    left: 0; */
    /* height:100%;  */
    /* opacity: 0.8; */
    /* position: fixed; */
    /* background-repeat: repeat-y; */
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    z-index:0;
  }

  #hideIE {
    /* display: none; */
  }
  #hideIE:not(*:root) { /* Supports only WebKit browsers */
    /* display: block; */
  }
  #showIE {
    margin-bottom: 10px;
    display: block;
  }
  #showIE:not(*:root) { /* Supports only WebKit browsers */
    display: none;
  }

  .loader {
    border: 10px solid #F1B517;
    border-radius: 50%;
    border-top: 10px inset #060709;
    border-bottom: 10px inset #060709;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    display: block;
    position: fixed;
    z-index: 1031;
    top: 40%;
    /* right: 50%; */
    /* left: 50%; */
  }

/* justify-content: space-evenly;  } */
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  