page-orders {
  .toolbar-title-md {
    margin-top: -43px;
    padding: 0px 72px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffff;
}


  .eventclass{
  background: url("../assets/img/cover.jpg") no-repeat center;
  background-size: cover;
    color: $white;
    .layer {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
     // height: 100%;
  }
  }
  .eventheading{
    font-size: 15px;
    font-weight: 800;
    
  }
  // ion-row{
  //   border-bottom: 1px solid $light-grey;
  // }
  
  .offer-label {
    position: absolute;
    top: 2px;
    left: 12px;
    z-index: 999;
  }
  .maindiv{
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .square {
    display: block;
    width: 58px;
    line-height: 36px;
    font-size: .8em;
    background-color: #f53d3d;
    color: #fff;
    text-align: center;
  }
  .btn {
    border: none;
    outline: none;
    width: 72px;
    background-color: #F1B517;
    height: 80px;
    padding: 10px 16px;
    margin-left: 7px;
    margin-top: 11px;
    //border-radius: 24%;
    cursor: pointer;
}

.button-outline-ios {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color:  black !important;
  color: #fff !important;
  background-color: black !important;
}

.button-outline-md {
  border-width: 1px;
  border-style: solid;
   border-color: black !important;
 color:#fff !important;
  background-color: black !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
  
  .active, .btn:hover {
    background-color: white;
    height: 80px;
    color: black;
    margin-top: 0px;
    width: 72px;
    //border-radius: 24%;
  }
  .heading {
    font-size: 15px;
    font-weight: 700;
    color: $grey;
  }
  .carts {
    position: absolute;
    top: 5px !important;
    right: 27px !important;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
  .eventlistclass{
    padding: 20px;
  }
  .cardclass{
    //background: #dbdefd;
    margin-top: 19px;
    border-radius: 7%;
  }
  .displaydate{
    text-align: center;
  }
  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $danger;
  }
  .orders-list {
    .orders-item {
      padding: 0px !important;
      img {
        min-height: 60px;
        width: 100%
      }
      .item-name, .date {
        font-weight: 100;
        font-size: 12px;
        line-height: 20px;
      }
      .item-price {
        font-weight: 700;
        color: $primary;
      }
      .btn-cart {
        height: 2.2rem;
        width: 2.2rem;
        float: right;
        box-shadow:none;
      }
      .btn-view{
        float: right;
        margin: 1.2rem 0.2rem;
        padding: 0 1em;
        height: 2.2rem;
        background-color: $primary;
        font-size: 1rem;
        box-shadow:none;
        width: 66%;
      }
    }
  }

    .empty-cart{
    font-size: 10.2em; 
    display: block;
    margin: .2em auto 0;
    color: $white;
  }
   .bg {
  background-image: url(../assets/img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
 h4 {
    font-size: 2.2rem;
    text-align: center;
    color:$white;
  }
   .continue-btn {
    background-color: $primary !important;
    color: #fff;
    padding: 13.5px 30px;
    box-shadow: none;
    display: block;
    margin: 2em auto 0;
    border-radius: 0;
  }
    h4 {
    font-size: 2.2rem;
    text-align: center;
    color: $primary;
  }
  .empty-cart {
    font-size: 10.2em;
    display: block;
    margin: .2em auto 0;
    color: $primary;
  }
  .cardclass {
    background-color: #F1B517;
    margin-top: 19px;
    border-radius: 7%;
}


.cardcalss{
  // background: #8EB1C7;
  // border-radius: 19px;
  // height: 65px;
  margin-bottom: 18px;
  height: 63px;

  .item-md p {
   margin: 0 0 2px;
   overflow: inherit;
   // font-size: 1.4rem;
   line-height: normal;
   text-overflow: inherit;
   color: #fff !important;
}
}
}
