<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Activation</title>
    <style >

    </style>
  </head>
  <body>
  

    <table class="body"  >
      <tr>
        <td class="center" align="center" valign="top">
          <center   style="  max-width: 600px;margin: auto;border-spacing: 0;background:	#ffc000;padding: 4px;border-radius: 16px;overflow: hidden; ">
            <table class="row header">
              <tr>
                <td class="center" align="center" >
                  <center>
                    <table class="container"  >
                      <tr>
                        <td class="wrapper last">
                          <table class="twelve columns">
                            <tr>
                              <td class="six sub-columns">
                                <!--<img src="http://res.cloudinary.com/sridhar0816/image/upload/t_media_lib_thumb/v1514272112/bhojana_logo_final_xonode.jpg">-->
                              </td>
                              <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table><br>
            <div >
            <table class="container" >
              <tr>
                <td>
            
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                 

                            <img  class="logo" align="center" width="350" height="100" src="https://res.cloudinary.com/sridhar0816/image/upload/v1584083785/logo_mezhva.png" style=" height: 173px; width: 589px; margin-right:119px;margin-top: -13px;margin-left: 3px;">
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
           <table class="row"     >
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr >
                            <td >
                               
                           <h3 style="color:#0f0e0e; font-size: 42px;font-weight: 900;text-align: center;">Welcome to International Sports Festival Of Kerala </h3>
                           <h4 style="color:#0f0e0e;font-weight: 900;font-size: 29px;margin-top: -35px;">Hi,<%=name%> </h4>
                           <p style="color:#0f0e0e;font-weight: 900;font-size: 21px; margin-top: -19px;margin-top: -33px;" >Thank you for Registering with us,your Accompany Person Registration was successful,below are your registration details.</p >
                              <p style=" color: white;text-shadow: 2px 2px 4px #000000;font-weight: 900;font-size: 21px;margin-left: -44px;margin-top: -24px;""> <b> <%=createdAt.toDateString()%> </b>  </p>
                              <p style="margin: 5px;font-weight: 900;font-size: 21px; margin-top: -23px;"> <b><span style="color:black;">RegistrationID:</span><span style="color:black;"> <%=RegisterId%> </span></p> 
                              <p style="margin: 5px;font-weight: 900;font-size: 21px;"> <b><span style="color:black;">Relationship:</span><span style="color:black;"> <%=relationship%></b> </span></p> 
                              <p style="margin: 5px;font-weight: 900;font-size: 21px;"> <b><span style="color:black;">Gender:</span><span style="color:black;"> <%=gender%></b> </span></p> 
                              <p style="margin: 5px;font-weight: 900;font-size: 21px;"> <b><span style="color:black;">Phone No:</span><span style="color:black"> <%=phone%></b> </span></p> 
                              <p style="margin: 5px;font-weight: 900;font-size: 21px;"> <b><span style="color:black;">DOB:</span><span style="color:black"> <%=DOB.toDateString()%></b> </span></p> 
                              <p style="margin: 5px;font-weight: 900;font-size: 21px;"> <b><span style="color:black;">Place:</span><span style="color:black"> <%=place%></b> </span></p> 
                   
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row">
                    <tr>
                      <td class="wrapper ">
                        <table class="four columns">
                          <tr></tr>
                        </table>
                      </td>
                      <td class="wrapper ">
                        <table class="four columns">
                          <tr>
                            <td class="center">
                              <center>
                                <table class="button success round">
                                  <tr>
                                    <td></td>
                                  </tr>
                                </table>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="wrapper last">
                        <table class="four columns">
                          <tr> </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
            
                  <!-- <table class="row">
                    <tr>
                      <td class="wrapper last"> -->
                        <table class="twelve columns">
                          <tr>
                            <td  style=   "border-style: hidden;background-color: white;margin: 5px;">
                              <p style="font-size: small;color:black;"> <b> <span style="color:black" >Note</span>:QR code image has been sent to the registered phone, please keep it with you as the QR image is mandatory for the event to attend. Please do not hesitate to contact us if you have any questions or suggestions. If you did not create an account with us and have received this message as an error, please disregard this message. </b></p>
                              </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      <!-- </td>
                    </tr>
                  </table> -->
                  <!-- <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td align="center">
                              <center>
                 
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table> -->
                  <!-- container end below -->
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
