<ion-header>
    <ion-navbar>
        <ion-title>Restaurant</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" class="header-btn-cart" (click)="navcart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content >
    <ion-row class="productImage">
        <img src={{productDetails.thumb}} alt="">
        <!-- <span clear text-center (click)="toggleFavourite()"> -->
        <ion-icon class="fav" name="heart" *ngIf="like"
                  (click)="removeFromFavourite(productDetails._id)"></ion-icon>
        <ion-icon class="fav heart-clicked" name="heart" *ngIf="!like"
                  (click)="addToFavourite(productDetails._id)"></ion-icon>
    <!-- </span> -->
    </ion-row>

    <ion-row class="count-full">
        <ion-col col-6>
            <div class="count">
            <span class="item-count" (click)="remove()">
              -
            </span>
                <span class="item-count show-count">
              {{count}}
            </span>
                <span class="item-count" (click)="add()">
              +
            </span>
            </div>
        </ion-col>

        <ion-col col-6>
            <a (click)="addToCart(productDetails._id)" ion-button icon-left full class="btn-add-to-cart">
                <ion-icon name="cart"></ion-icon>
                {{'ADD TO CART' | translate}}
            </a>
        </ion-col>
    </ion-row>


    <ion-list class="extra-list" >
    <div *ngIf="productDetails.extraIngredients!=''">
        <ion-list-header class="header" text-center>Add extra choice</ion-list-header>
        <ion-item *ngFor="let option of productDetails.extraIngredients; let i= index"  class="list-item" >
            <ion-label>{{option.name}} ({{option.selected}} USD)</ion-label>
            <ion-toggle (ionChange)="checkOptions(option)"></ion-toggle>
        </ion-item>
        </div>
    </ion-list>

    <!-- size and price check box -->
    <ion-list radio-group class="size-list">
        <ion-list-header class="size-list-header" text-center>
            {{'Size and prices' |translate}}
        </ion-list-header>
        <ion-item *ngFor="let price of productDetails.price" class="size-list-item">
            <ion-label *ngIf="!price.specialPrice">{{price.pname}} ${{price.value}}</ion-label>
            <ion-label *ngIf="price.specialPrice">{{price.pname}} ${{price.specialPrice}}</ion-label>
            <ion-radio class="checked" (ionSelect)="sizeOptions(price)"></ion-radio>
        </ion-item>
    </ion-list>
    <ion-row>
        <ion-col col-6>
            <a (click)="addToCart(productDetails._id)" ion-button icon-left full class="btn-add-to-cart">
                <ion-icon name="cart"></ion-icon>
                {{'CHECKOUT' | translate}}
            </a>
        </ion-col>
        <ion-col col-6>
            <a (click)="home()" ion-button icon-left full class="btn-add-to-cart">
                <ion-icon name="basket"></ion-icon>
                {{'KEEP SHOPPING' |translate}}
            </a>
        </ion-col>
    </ion-row>
</ion-content>
