<div class="content-heading"> Feedback Report
  <!-- <small>
    Setting</small> -->
</div>
<!-- <div class="waiting-loader">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div> -->
<div class="row" *ngIf="IsData">
  <div class="col-sm-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <p style="font-weight: 700;font-size: 14px;"> Overall Feedback </p>
          </div>
          <div class="col-md-3">
            <p><button class="btn btn-sm btn-success" type="button" (click)="feedbackGraph()">View Analytics</button>
            </p>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">

                <div class="panel-heading">
                  All feedback list </div>

                <div class="panel-body">

                  <div class="table-responsive b0">
                    <table class="table table-striped" [mfData]="feedbackData" #mf="mfDataTable" [mfRowsOnPage]="10">
                      <thead>
                        <tr>

                          <th class="text-center">

                            <strong>Name</strong>
                          </th>

                          <!-- <th class="text-center">

                            <strong>Created Date</strong>
                          </th> -->

                          <th class="text-center">

                            <strong>Phone</strong>
                          </th>

                          <th class="text-center">

                            <strong>Created Date</strong>
                          </th>

                          <th class="  text-center">
                            <strong>View</strong>
                          </th>



                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of mf.data ;let i = index ">
                          <td class="text-center">{{item.userInfo[0].name}}</td>

                          <!-- <td class="text-center">{{item.userInfo[0].createdAt|date}}</td> -->
                          <td class="text-center">
                            {{item.userInfo[0].phone}}
                          </td>
                          <td class="text-center">
                            {{item.createdAt|date}}
                          </td>
                          <td class=" text-center">
                            <button class="btn btn-sm btn-default" type="button" (click)="Show(item.userID,0)"><em
                                class="fa fa-search"></em></button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="10">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-1"></div>


          </div>


        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>
<div class="row" *ngIf="Isoverall">
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-sm btn-primary" type="button" (click)="back()">back</button>
  </div>
</div>
  <div class="col-md-5" *ngIf="quesOne.datasets[0].data.length >= 1">
    <h4 style="text-align: center;font-size: small;">How do you rate the organization of the Event?</h4>
    <div class="pieHeight">
      <canvas baseChart [chartType]="'pie'" [options]="pieOptions" [colors]="pieColors" [datasets]="quesOne.datasets"
        [legend]="true" [labels]="quesOne.labels" height="100" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>


  <div class="col-md-5" *ngIf="quesTwo.datasets[0].data.length >= 1">
    <h4 style="text-align: center;font-size: small;">How do you rate the venue of the Event?</h4>
    <div class="pieHeight">
      <canvas baseChart [chartType]="'pie'" [options]="pieOptions" [datasets]="quesTwo.datasets" [colors]="pieColors2"
        [legend]="true" [labels]="quesTwo.labels" height="100"></canvas>
    </div>
  </div>
</div>