<div class="container">

	<form [formGroup]="selfForm">
		<div class="center" *ngIf="reg">
			<!--Self Registration-->
			<div class="row justify-content-md-center">
				<div class="loader" *ngIf="loading"></div>
				<div class="col col-md-5">
					<div class="creorts-black">

						<div class="text-center">
							<h4 style=" color: white;">Registration</h4>
						</div><br />

						<input type="text" formControlName="name" class="form-control mb-4" placeholder="Name*"
						onKeyPress="if(this.value.length==50) return false ;">
						<div class="error"
							*ngIf="selfForm.controls['name'].errors?.required && selfForm.controls['name'].touched">
							*Name is required</div>

						<input type="number" class="form-control mb-4"
							(blur)="setExistingPhoneValidator($event)" ng-pattern="/^[0-9]{1,5}$/" formControlName="phone"
							placeholder="Phone Number*"
							onKeyPress="if(this.value.length==10) return false ;" (keypress)="numberOnly($event)" required >
						<div class="error"
							*ngIf="selfForm.controls['phone'].errors?.required && selfForm.controls['phone'].touched">
							*Mobile is required</div>
						<div class="error"
							*ngIf="selfForm.controls['phone'].errors?.validmobile && selfForm.controls['phone'].touched">
							This Phone number already exists, Please try with different number
						</div>
						<div class="error"
							*ngIf="selfForm.controls['phone'].errors?.pattern && selfForm.controls['phone'].touched">
							This phone number should be 10 digits
						</div>

						<input type="email" class="form-control mb-4" formControlName="email" placeholder="Email"
						
							(blur)="setExistingEmailValidator($event)">
						<div class="error"
						*ngIf="selfForm.controls['email'].errors?.pattern && selfForm.controls['email'].touched">
						*Not a valid email</div>
						<div class="error"
						*ngIf="selfForm.controls['email'].errors?.emailexists && selfForm.controls['email'].touched">
						*This email id already registered with us</div>

						<select class="form-control mb-4" placeholder="Gender" formControlName="gender" required>
							<option value="" disabled selected>Gender*</option>
							<option>Male</option>
							<option>Female</option>
							<option>Others</option>
							Gender
						</select>
						<div class="error"
							*ngIf="selfForm.controls['gender'].errors?.required && selfForm.controls['gender'].touched">
							*Gender is required</div>

						<input class="form-control mb-4" placeholder="DOB*" formControlName="DOB" type="text" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"  [max]="ageLimit">
						<div class="error" style="margin-top: -28px"
							*ngIf="selfForm.controls['DOB'].errors?.required && selfForm.controls['DOB'].touched">
							*DOB is required</div>

						<input type="text" class="form-control mb-4" formControlName="place" placeholder="Place*"
						onKeyPress="if(this.value.length==50) return false ;" required>
						<div class="error"
							*ngIf="selfForm.controls['place'].errors?.required && selfForm.controls['place'].touched">
							*Place is required</div>

						<select class="form-control mb-4" placeholder="Occupation*" #o formControlName="occupation"
							required id="occupation">
							<option value="" disabled selected>Occupation*</option>
							<option>Student</option>
							<option>Engineer</option>
							<option>Doctor</option>
							<option>Athlete</option>
							<option>Government Servant</option>
							<option>Business</option>
							<option>Others</option>
						</select>
						<div class="error"
							*ngIf="selfForm.controls['occupation'].errors?.required && selfForm.controls['occupation'].touched">
							*Occupation is required
						</div>
                         <div *ngIf="o.value!='Student'">
							<input type="text" class="form-control mb-4" formControlName="organisation"
							placeholder="Organisation" onKeyPress="if(this.value.length==50) return false ;">
						 </div>
						<div *ngIf="o.value == 'Student'">
							<input type="text" class="form-control mb-4" formControlName="schoolName"
								placeholder="School / College*" onKeyPress="if(this.value.length==50) return false ;">
								<div class="error"
							*ngIf="selfForm.controls['schoolName'].errors?.required && selfForm.controls['schoolName'].touched">
							*School or College name is required
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="individual || team || cultural">

			<div class="row justify-content-md-center">
				<div class="loader" *ngIf="loading"></div>
				<div class="col col-md-5">
					<div class="creorts-black">
						<div *ngFor="let categoryList of categoryMasterList">
							<!-- {{categoryList | json}} -->

							<div [hidden]="!individual"
								*ngIf="(categoryList?.eventType === 'Individual Event') && (categoryList.categoryName === 'Sports')">
								<h6>Please select {{categoryList.categoryName}} {{categoryList.eventType}} you would
									like to
									attend</h6>

								<div *ngFor="let event of categoryList?.events">
									<mdb-checkbox class="form-control mb-4" *ngIf="!event.isSelected"
										(change)="openDialog($event,event, categoryList.eventType)" [default]="true"
										[value]="true" [checked]="event.checked">
										{{event.title}}</mdb-checkbox>
									<span *ngIf="event.paymentGateway && event.checked" show="showSuccess()"></span>
								</div>
							</div>

							<div [hidden]="!team"
								*ngIf="(categoryList?.eventType === 'Team Event') && (categoryList.categoryName === 'Sports')"
								class="individual">
								<h6>Please select {{categoryList.categoryName}} {{categoryList.eventType}} you would
									like to
									attend</h6>

								<div *ngFor="let event of categoryList?.events">
									<mdb-checkbox class="form-control mb-4" *ngIf="!event.isSelected"
										(change)="openDialog($event,event, categoryList.eventType)" [default]="true"
										 [checked]="event.checked"  (change)="event.checked=!event.checked" [value]="true">
										{{event.title}}</mdb-checkbox>

									<!-- <input type="checkbox" (change)="openDialog($event, event, categoryList.eventType)" class="checkbox" name="{{event._id}}">
									<label for="{{event._id}}"> {{event.title}} </label><br> -->


									<span *ngIf="event.paymentGateway && popup && event.checked" style="color: white;">
										It's a paid event, you need to pay Rs500!!!</span>
								</div>
								<div>
									
									<input type="text" class="form-control mb-4" formControlName="representingTeam"
										placeholder="Representing Team*" onKeyPress="if(this.value.length==50) return false ;">
									<div class="error"
										*ngIf="selfForm.controls['representingTeam'].errors?.required && selfForm.controls['representingTeam'].touched">
										*Representing Team is required
									</div>
		
								</div>
							</div>

							<div [hidden]="!cultural"
								*ngIf="(categoryList?.eventType === 'Individual Event') && (categoryList.categoryName === 'Cultural')"
								class="team">
								<h6>Please select {{categoryList.categoryName}} {{categoryList.eventType}} you would
									like to
									attend</h6>

								<div *ngFor="let event of categoryList?.events">

									<mdb-checkbox class="form-control mb-4" *ngIf="!event.isSelected"
										(change)="openDialog($event, event, categoryList.eventType)" [default]="true"
										[value]="true" [checked]="event.checked">
										{{event.title}}</mdb-checkbox>
									<span *ngIf="event.paymentGateway && popup && event.checked" style="color: white;">
										It's a paid event, you need to pay Rs 500!!!</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-md-center" *ngIf="reg">
			<div class="col col-md-2">
				<button class="btn btn-info btn-block my-2" (click)="nextreg()">Next</button>
			</div>
		</div>

		<div class="flex">
			<div class="row justify-content-md-center" *ngIf="individual">
				<div class="col col-md-2">
					<button class="btn btn-info btn-block my-2" (click)="prevind()">Previous</button>
				</div>
				<div class="col col-md-2 offset-md-1">
					<button class="btn btn-info btn-block my-2" (click)="nextind()">Next</button>
				</div>
			</div>
		</div>

		<div class="flex">
			<div class="row justify-content-md-center" *ngIf="team">
				<div class="col col-md-2">
					<button class="btn btn-info btn-block my-2" (click)="prevteam()">Previous</button>
				</div>
				<div class="col col-md-2 offset-md-1">
					<button class="btn btn-info btn-block my-2" (click)="nextteam()">Next</button>
				</div>
			</div>
		</div>

		<div class="row justify-content-md-center" *ngIf="cultural">
			<div class="col col-md-2">
				<button class="btn btn-info btn-block my-2" (click)="prevcul()">Previous</button>
			</div>
		</div>

		<div *ngIf="paymentPage">
			<div class="row">
				<div class="col col-md-5">
					<i class="fas fa-arrow-left fa-lg" title="Go back to Profile" (click)=hideThis()></i><br><br>
				</div>
			</div>
			<app-payment-gateway></app-payment-gateway>
		</div>

	</form>
	<div class="row justify-content-md-center" *ngIf="cultural">
		<div class="col col-md-3">
			<button class="btn btn-info btn-block my-2" [disabled]="!selfForm.valid" name="register" type="submit"
				(click)="register()">REGISTER</button>
		</div>
	</div>
</div>