<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-10">
            <div class="wave">
                <div class="borde">
                    <div class="content">
                        <h4 class="text-center">Thank you for registering with us</h4>
                    </div>
                    <br/>
                    <div class="row justify-content-md-center">
                        <div class="col-md-3">
                            <button class="btn btn-info btn-block" (click)="login()">Home</button>
                        </div>

                    </div>

                </div>
                <svg xmlns="http://www.w3.org/2000/svg" id="hideIE" viewBox="0 0 1440 320">
                    <path fill="#F1B517" fill-opacity="1"
                        d="M0,224L60,197.3C120,171,240,117,360,112C480,107,600,149,720,186.7C840,224,960,256,1080,250.7C1200,245,1320,203,1380,181.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
</div>